.header
    padding-top: 22px
    nav
        .btn
            display: inline-block
            width: 117px
            height: 32px
            background: #00C368
            box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4)
            border-radius: 8px
            list-style: none
            text-align: center
            border: none
            a
                text-decoration: none
                font-size: 16px
                line-height: 150%
                color: #FFFFFF
        li:nth-child(-n+2)
            background: #fff
            box-shadow: none
            a
                color: #070707

    &_wrapper 
        // position: relative
    &_title
        font-size: 33px
        font-style: italic
        font-weight: 700
        text-transform: uppercase
        color: #A6ABBD
        text-align: center
        position: relative
        span
            display: inline-block
            width: 62px
            line-height: 63px
            background: url('/img/Vector (2).png') (left center/auto) no-repeat
            // background-position: 0px -6px
            background-size: 50px 63px

            // background: url('/img/Vector (2).png') center (center/auto) no-repeat
            // height: 63px
            // width: 63px
            // background-position: -38px -11px
            // display: inline-block


    // &_logo
    //     height: 63px
    //     width: 50.383399963378906px
    //     left: 201px
    //     top: -7px
    //     position: absolute

.carousel
    padding-bottom: 66px
    &_subheader
        height: 203px
        
    &_logo
        padding-top: 30px
        margin: 0 auto
    &_descr
        margin: 24px 70px
    &_img
        margin: 0 auto
    &_item
        // &:last-child
        //     display: none
        img
            margin-top: 50px

    .slick-dots
        
        li         
            button:before
                font-size: 38px
            &:last-child
                display: none !important
    .slick-prev, .slick-next, button
        top: 91.5%
    .slick-prev
        left: 10%
        background-image: url("../icons/arrow_left.png")
        &:before
            content:'' !important
            
    .slick-next
        right: 20%
        background-image: url("../icons/arrow_right.png")

.spoiler
    padding-top: 40px
    background: #F8FBFF
    h2,p 
        margin-top: 16px
    &_wrapper
        margin-top: 31px
        padding-right: 35px
        h3
            margin-top: 16px
            text-align: left
        p
            text-align: left  
        
    .ui-accordion-header.ui-state-active
        color: #00C368

    .ui-accordion-header-collapsed, .spoiler_item
        border-bottom: 1px solid #E7EBF0

    .ui-icon-zoomin
        background-image: url('../img/arrow_down.png')
        background-size: 20px
        width: 20px
        height: 20px

    .ui-icon-zoomout
        background: url('../img/arrow_up.png')
        background-size: 20px
        width: 20px
        height: 20px

.feed
    padding: 47px 0 36px 0
    .title
        margin-top: 16px
    &_wrapper
        margin-top: 91px
    .feed_logo
            width: 97px    
    &_item-1
        position: relative
        padding: 80px 16px 15px 16px
        width: 100%
        height: auto
        background: #FFFFFF
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24)
        border-radius: 32px
        
        .feed_logo
            position: absolute
            top: -10%
            left: 50%
            transform: translate(-50%)
            &-left
                position: absolute
                top: 4%
                left: 8%
                transform: translate(-4%,-8%)
            &-right
                position: absolute
                top: 4%
                right: 8%
                transform: translate(-4%,-8%)
                transform: rotate(180deg)
        
    &_item
        margin-top: 35px
        width: 100%
        height: auto
        background: #FFFFFF
        .feed_logo 
            width: 59px
            float: left
            margin-right: 15px
        .title
            text-align: left
            overflow: hidden
        .last_img
            float: right
            margin: 0 0 0 15px
        
    
            
        
    
            
        
        
            
    
                        
    

        
        
        
        
        
        
        
        
        

        
        
        
        


